// Fonts
$heading-font: 'Raleway', sans-serif;
$general-font: 'Open Sans', sans-serif;

// Colors
$desaturated-blue: hsl(238, 22%, 44%);
$moderate-cyan: hsl(170, 45%, 43%);
$grayish-blue: hsl(240, 75%, 98%);
$bright-blue: hsl(224, 93%, 58%);
$dark-blue: hsl(243, 87%, 12%);
$light-gray: hsl(0, 0%, 75%);
